In [ ]:
# 함수
# 1. 매개변수
# 2. 리턴
# A, IT 회사에 취업 (월 천만원) 1부터 10까지 출력(파이썬)

In [10]:
def a():
    print(1)
    print(2)
    print(3)
    print(4)
    print(5)
    print(6)
    print(7)
    print(8)
    print(9)
    print(10)

i = 1
while i <= 10 :
    a()
    i += 1

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

In [12]:
# 전역변수(한국 화폐): 어디서든 쓸 수 있음
# 매개변수(): 함수 안에서만 사용, 밖에서 
# 지역변수(지역 화폐): 함수 안에서만 사용, 함수 밖에서는 사용 불가 ex)함수안의 i를 함수 밖에서 print(i)하면 작동 X
k = 10 # k = 전역변수
def print_dan(dan, limit): #dan == 매개변수
    i = 1 # i == 지역변수
    while i <= limit:
        print("{} * {} = {}".format(dan, i, dan*i))
        i += 1

print_dan(2, 4) # 여기서의 2는 인자 또는 인수라고 함

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8

In [ ]:
def print_dan(dan, limit, start): 
    i = start 
    while i <= limit:
        print("{} * {} = {}".format(dan, i, dan*i))
        i += 1

print_dan(2, 4, 2)

2 * 2 = 4
2 * 3 = 6
2 * 4 = 8

In [22]:
# 매개변수 문제1
def print_dan(num):
    n = 1
    dan = 8
    while n <= num:
        print("== {}번째 구구단 8단 출력 ==".format(n))
        n += 1
        i = 1
        while i <= 9:
          print("{} * {} = {}".format(dan, i, dan * i))
          i += 1

print_dan(8)

== 1번째 구구단 8단 출력 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
== 2번째 구구단 8단 출력 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
== 3번째 구구단 8단 출력 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
== 4번째 구구단 8단 출력 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
== 5번째 구구단 8단 출력 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
== 6번째 구구단 8단 출력 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
== 7번째 구구단 8단 출력 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
== 8번째 구구단 8단 출력 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

In [ ]:
# 문제2
def print_dan(dan):
    print("== {}단 ==".format(dan))
    i = 1

In [35]:
def get_1_to_n_prime_sum(n):
    sum = 0
    for i in range(2, n+1):
        count = 0
        for j in (1, i+1):
            if i % j == 0:
                count += 1
        if count == 2:
            sum += i
    return(sum)

print(get_1_to_n_prime_sum(100))

0

In [32]:
# 리턴 
def plus(a, b):
    print(a+b)
    return 10
x = plus(10, 20)
print(x)

30
10

In [33]:
def plus(a, b):
    print(a+b)
    return 10
x = plus(10, 20)

30

In [ ]:
def is_prime_number(num):
    for i in range(2, num+1):
        count = 0
        for j in range (1, i):
            if i % j == 0:
                count += 1
        if count == 2:
            return True
print("3은 소수입니다 : {}".format(is_prime_number(3)))

3은 소수입니다 : None

In [ ]:
def is_prime_number(num):
    count = 0
    for i in range(1, num+1):
        if num % i == 0:
            count += 1
    if count == 2:
        return True
    
    else :
        return False
print("3은 소수입니다 : {}".format(is_prime_number(3)))
print("4는 소수입니다 : {}".format(is_prime_number(4)))
print("5는 소수입니다 : {}".format(is_prime_number(5)))
print("6는 소수입니다 : {}".format(is_prime_number(6)))
print("7는 소수입니다 : {}".format(is_prime_number(7)))
print("1000은 소수입니다 : {}".format(is_prime_number(1000)))

3은 소수입니다 : True
4는 소수입니다 : False
5는 소수입니다 : True
6는 소수입니다 : False
7는 소수입니다 : True
1000은 소수입니다 : False

In [66]:
def get_divisors_sum(num):
    if num == 1:
        return False
    i = 2
    while i < num:
        if num % i == 0:
            return False
        i += 1
    return True
get_divisors_sum(3)

True

In [58]:
def is_prime_number(num):
    count = 0
    for i in range(1, num+1):
        if num % i == 0:
            count += 1
    if count == 2:
        return True
    
    else :
        return False
    
def get_1_to_n_prime_sum(n):
    sum = 0
    for j in range(1, n):
        if is_prime_number(j) == True:
            sum += j
    return sum

get_1_to_n_prime_sum(100)

1060

In [67]:
# 객체(폴더) : 관련된 데이터들끼리 묶어주는 기술
# 데이터 -> 관련된 것들끼리 묶는게 좋음
# 리스트 : [a, b, c]
ages = [10,20,30]
print(ages)

[10, 20, 30]

In [69]:
ages = []
ages2 = ages
ages3 = ages

ages.append(10)
ages2.append(20)

print(ages3)

[10, 20]

In [71]:
list = [2, 1, 5, 6, 7]
list

[2, 1, 5, 6, 7]

In [74]:
a = []
a.append(2)
a.append(1)
a.append(5)
a.append(6)
a.append(7)
a

[2, 1, 5, 6, 7]

In [ ]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요.
#  그리고 '+=' 연산자를 이용해서 '토', '일' 을 한번에 추가해주세요.
d = ['월', '화', '수', '목', '금']
d.append('토')
d.append('일')
d

d += ['토', '일']

['월', '화', '수', '목', '금', '토', '일']

In [95]:
d = ['월', '화', '수', '목', '금']
d += ['토', '일']
d

['월', '화', '수', '목', '금', '토', '일']

In [77]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요.
#  그리고 가장 마지막 요소를 출력해주세요.
d = ['월', '화', '수', '목', '금']
d[-1]

'금'

In [84]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. .
# 그리고 while문을 이용해서 요소 전부 출력해주세요.
d = ['월', '화', '수', '목', '금']
i = 0
while i <= 4:
    print(d[i])
    i += 1

월
화
수
목
금

In [89]:
# 문제 : 리스트에 순서대로 2, 1, '오', 6, 7를 한번에 담아주세요. 
# 그리고 리스트 안에 있는 '오'를 정수 5로 변경해주세요.
a = [2, 1, '오', 6, 7]
a[2] = 5
a

[2, 1, 5, 6, 7]

In [110]:
a = [2, 1, '오', 6, 7]
a[a.index('오')] = 5
a

[2, 1, 5, 6, 7]

In [111]:
a = [2, 1, '오', 6, 7]
a.index('오')

2

In [93]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 
# '화'가 리스트 안에 들어있는지 알려주세요.
d = ['월', '화', '수', '목', '금']
i = 0
while i <= 4:
    d[i]
    if d[i] == '화':
        print("화가 있습니다")
    i += 1

화가 있습니다

In [112]:
d = ['월', '화', '수', '목', '금']
if '화' in d:
    print("있다")
else :
    print("없다")

있다

In [ ]:
# 화가 몇번째에 있어?
d = ['월', '화', '수', '목', '금']
i = 0
while i <= 4:
    d[i]
    if d[i] == '화':
        print(i)
    i += 1

1

In [113]:
d = ['월', '화', '수', '목', '금']
d.index('화')

1

In [97]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 
# 리스트에 있는 '금'을 삭제하는 3가지 방법을 보여주세요.
d = ['월', '화', '수', '목', '금']
d.remove('금')
d

['월', '화', '수', '목']

In [99]:
d = ['월', '화', '수', '목', '금']
d[0:4]

['월', '화', '수', '목']

In [116]:
d = ['월', '화', '수', '목', '금']
x = d.pop(4)
print(x)
print(d)

금
['월', '화', '수', '목']

In [109]:
d = ['월', '화', '수', '목', '금']
del d[4]
d

['월', '화', '수', '목']

In [106]:
d = ['월', '화', '수', '목', '금']
i = 0
while i < len(d):
    print(d[i])
    i += 1

월
화
수
목
금

In [107]:
d = ['월', '화', '수', '목', '금']
len(d)

5

In [ ]:
i = 1
while i <= 10:
    if i == 2:
        i += 1 
        continue
    print(i)
    i += 1 
    
# continue는 밑에거 스킵 
# break는 멈춤

1
3
4
5
6
7
8
9
10

In [121]:
ages = [10, 20, 30]
print(ages[0])
print(ages[1])
print(ages[2])

ages.append(40)
print(ages[3])

10
20
30
40

In [133]:
# dictionary
ages = {
    "철수": 10,
    "영희": 20,
    "영수": 30,
}
ages
print("== 딕셔너리 반복 v1 ==")
for name in ages:
    print("{} 나이 : {}".format(name, ages[name]))

print("== 딕셔너리 반복 v2 ==")
print(ages.keys())
for name in ages.keys():
    print("{} 나이 : {}".format(name, ages[name]))
print("== 딕셔너리 반복 v3 ==")
for name in ages.values():
    print("나이 : {}".format(name))
print("== 딕셔너리 반복 v4 ==")
for name, age in ages.items():
    print("{} 나이 : {}".format(name, age))

== 딕셔너리 반복 v1 ==
철수 나이 : 10
영희 나이 : 20
영수 나이 : 30
== 딕셔너리 반복 v2 ==
dict_keys(['철수', '영희', '영수'])
철수 나이 : 10
영희 나이 : 20
영수 나이 : 30
== 딕셔너리 반복 v3 ==
나이 : 10
나이 : 20
나이 : 30
== 딕셔너리 반복 v4 ==
철수 나이 : 10
영희 나이 : 20
영수 나이 : 30

In [135]:
# 문제 : 딕셔너리에 각 달의 마지막 날들을 한번에 담기
month = {
    '1월': 31,
    '2월': 28,
    '3월': 31,
    '4월': 30,
    '5월': 31,
    '6월': 30,
    '7월': 31,
    '8월': 31,
    '9월': 30,
    '10월': 31,
    '11월': 30,
    '12월': 31,
}
print(month)

for m in month:
    print("{} {}일".format(m, month[m]))

{'1월': 31, '2월': 28, '3월': 31, '4월': 30, '5월': 31, '6월': 30, '7월': 31, '8월': 31, '9월': 30, '10월': 31, '11월': 30, '12월': 31}
1월 31일
2월 28일
3월 31일
4월 30일
5월 31일
6월 30일
7월 31일
8월 31일
9월 30일
10월 31일
11월 30일
12월 31일

In [138]:
# 문제 : 딕셔너리에 각 달의 마지막 날들을 반복문을 통해 담기
month = {}
for m in range(1, 13):
    if m == 2:
        month[m] = 28
    elif m in [4, 6, 9, 11]:
        month[m] = 30
    else :
        month[m] = 31
for i in month:
    print("{}월 {}일".format(i, month[i]))

1월 31일
2월 28일
3월 31일
4월 30일
5월 31일
6월 30일
7월 31일
8월 31일
9월 30일
10월 31일
11월 30일
12월 31일

In [ ]:
# 깃 -> 코드 저장 기록기 (내 컴퓨터에서 쓰는거) (워드)
# - 버전관리
# - 브랜치 기반 작업(협업)
# - 병합

# 깃허브 -> 깃을 온라인에 올려두는 공간 (구글 드라이브)